@model Category

@if (Model != null)
{
    <h3 class="text-red-500 text-3xl">Category: @Model.Name</h3>
    <form class="max-w-sm mx-auto"
        method="post"
        asp-controller="categories"
        asp-action="edit">
        <input type="hidden" asp-for="CategoryId" />
        <div class="text-red-500 pt-3 pb-[-2rem]" asp-validation-summary='All'></div>
        <div class="mb-5">
            <label asp-for="Name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input type="text"
                asp-for="Name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 0 "
                placeholder=""/>
            <div>
                <span class="text-red-600" asp-validation-for="Name" />   
            </div>
        </div>
        <div class="mb-5">
            <label asp-for="Description"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input type="text"
                asp-for="Description"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                 />
        </div>
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>


    </form>
}
else
{
    <h3>Category not found.</h3>
}
